{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "extends": ["eslint-config-prettier", "plugin:react/recommended"],
  "plugins": ["eslint-plugin-prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }]
  }
}
